$defaultWhite: #fff;
$grayThemeColor: rgb(182,181,181);

$defaultFont: "Poppins", sans-serif;
$primaryThemeColor: #00423D;
$primaryDarkThemeColor: #173a1a;
$primaryLightThemeColor: #739072;
$neutralThemeColor: #d2e3c8;
$secondaryThemeColor: #b9704a;
$themeBackground: #f0efea;




// $primaryThemeColor: #4f6f52;
// $primaryLightThemeColor: #739072;
// $lightThemeColor: #d2e3c8;
// $secondaryThemeColor: #86a789;
// $themeBackground: #dde6ed;




/* Theme design Lâm */ 


// $defaultWhite: #f0efea;